@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-black;
  font-family: 'Montserrat', 'Inter', 'Segoe UI', Arial, sans-serif;
}

/* Color dorado inspirado en muge.com.ar */
:root {
  --gold-muge: #C9A063;
}
